input, select{
width: 100%;
padding: 12px 20px;
margin: 8px 0;
display: inline-block;
border: 1px solid #ccc;
border-radius: 4px;
box-sizing: border-box;
}

textarea{
width: 100%;
padding: 12px 20px;
margin: 8px 0;
display: inline-block;
border: 1px solid #ccc;
border-radius: 4px;
box-sizing: border-box;
}

input[type=submit] {
width: 100%;
background-color: #6d6e70;
color: white;
padding: 14px 20px;
margin: 8px 0;
border: none;
border-radius: 4px;
}

input[type=submit]:hover {
background-color: #007e8d;
}

input[type=reset] {
width: 100%;
background-color: #6d6e70;
color: white;
padding: 14px 20px;
margin: 8px 0;
border: none;
border-radius: 4px;
}

input[type=reset]:hover {
background-color: #007e8d;
}

div {
border-radius: 5px;
background-color: #eef3d6;
padding-bottom: 5px;
width: 1400px;
margin: 0 auto;
color: #6d6e70;
}

body{
background-color: #007e8d;
font-size: 20px;
}

.center {
display: block;
margin: auto;
}

a {
color:#007e8d;
}

table {
	margin: 0 auto;
	width: 1400px;
	table-layout: fixed;
	word-wrap: break-word; 
}

td {
	padding: 3px;
}